<div class="spotlight">
	<section class="spotlightHero">
		<div class="titleContain mainHolder">
			<h1>Be Smarter.<br>Be Healthier.</h1>
			<button>BUY NOW</button>
		</div>
	</section>

	<section class="contentRight">
	  <div class="contentRightHolder mainHolder">
	    <img src="{{ 'blackDeviceReady.png' | asset_url }}">
	    <div class="clear"></div>
	    <div>
	      <h2>Designed for Accuracy</h2>
	      <p>Alcohoot is an easy, accurate tool to help you track your body's reaction to alcohol and become a smarter drinker. It uses an FDA-registered fuel cell sensor, the same technology used by police and military devices. Plug it right into your headphone jack, and you're ready to go. Learn your drinking habits, enhance your lifestyle.</p>
	    </div>
	  </div>
	  <div class="clear"></div>
	</section>

	<section class="mainHolder">
		<div class="threeHighlights">
			<div class="highlight">
				<h3>3.5m Headphone jack for compatibility</h3>
				
			</div>
			<div class="highlight">
				<h3>Law Enforcement Fuel Cell Technology</h3>
				
			</div>
			<div class="highlight">
				<h3>Designed for you</h3>
				
			</div>
		</div>
	</section>

	<section class="bigImage">
		<div class="bigImageLeft">
			<div>
				<h3>HIGHLY ACCURATE.</h3>

				<h3>LEADING RELIABILITY.</h3>

				<h3>HEALTH TRACKING.</h3>

				<h3>WIDE COMPATIBILITY</h3>

			</div>
		</div>
	</section>

	<section class="contentRight">
	  <div class="contentRightHolder mainHolder">
	    <img src="{{ 'appActivity.png' | asset_url }}">
	    <div class="clear"></div>
	    <div class="bigPhoneContent">
	      <h2>Discover Your Limits</h2>
	      <p>
	      	Technology trusted by moms and law enforcement alike.<br><br>
				SmartLine’s algorithm remembers your habits and suggests healthier behavior.<br><br>
				Alcohoot’s app acts as the drinking buddy who always has your best interest in mind.<br><br>
	      </p>
	    </div>
	  </div>
	  <div class="clear"></div>
	</section>

	<section>
		<img src="{{ 'fullWidthTest.png' | asset_url }}">
	</section>

	<section class="specs">
		<div class="specsTable">
			<table>
			  <tbody>
			    <tr>
			      <td>Colors</td>
			      <td>Black, White, Red</td>
			   </tr>
			   <tr>
			      <td>Material</td>
			      <td>Matte Ruberized Composite</td>
			   </tr>
			      <td>Device Dimensions</td>
			      <td>3.76 x 37.1 x 9.23</td>
			   </tr>
			   <tr>
			     	<td>Battery</td>
			     	<td>Lithium Ion recharges in 2 hours via USB</td>
			   </tr>
			   <tr>
			      <td>Battery Life</td>
			      <td>500+ Tests per charge</td>
			   </tr>
			   <tr>
			      <td>Fuel Sensor</td>
			      <td>Advanced electrochemical fuel ftensor</td>
			   </tr>
			   <tr>
			      <td>Sensor Accuracy</td>
			      <td>+/- 0.010% BAC</td>
			   </tr>
			   <tr>
			      <td>Warranty</td>
			      <td>One Year</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</section>

	<section class="fullWidthImage">
	<div class="mainHolder">
		<div>
			<h1>Safety + Responsibility</h1>
			<p>Alcohoot’s advanced technology fits in your pocket or glove box and is always ready to improve your health and wellness.</p>
		</div>
	</div>
	</section>
</div>

{{ page.content }}

















